<!-- templates/header.html -->
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">

</head>
<body class="first">

    <header>

         <h1>Agri-Aid</h1>


        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tutorial">Tutorial</a></li>
                <li><a href="/chooseimage">Upload Image</a></li>
                <li><a href="/news">News Feed</a></li>

            </ul>
        </nav>

    </header>
    <div class="About">
         <img src="/static/logoN.png">

        <div class="info">
            Welcome to Agri-Aid Toolkit
            We strive to help you find the solution to all your plant health concerns.
            We,the AI Pioneers are a team of IT specialist who
            are invested in ensuring all your Plant Disease concerns can be addressed from the
            palm of your hands.

        </div>
    </div>

</body>

</html>