<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriSickToolkit</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">

</head>

<body class="mainbody">
    <header class="mainheader">

         <div class="logo">
                  <img src="/static/logoN.png">
            </div>

         <h1>Agri-Aid</h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tutorial">Tutorial</a></li>
                <li><a href="/chooseimage">Upload Image</a></li>
                <li><a href="/news">News Feed</a></li>

            </ul>
        </nav>

    </header>

    <h1>Agricultural News Feed</h1>

    <table>
        <tr>

            <td>
                <a href="https://www.moa.gov.jm/news-categories/news-articles" target="_blank">MINISTRY OF AGRICULTURE JAMAICA</a>
            </td>

        </tr>
        <tr>
            
            <td>
                <a href="https://www.agriculturedive.com/" target="_blank">AGRICULTURE DIVE</a>
            </td>
            
        </tr>
        <tr>

            <td>
                <a href="https://www.agriculture.com/news" target="_blank">SUCCESSFUL FARMING</a>
            </td>

        </tr>
        <tr>

            <td>
                <a href=https://www.agdaily.com/" target="_blank">AGDAILY</a>
            </td>

        </tr>
        <tr>

            <td>
                <a href="https://www.bbc.com/news/topics/ce1qrvleggxt" target="_blank">BBC WORLD NEWS</a>
            </td>

        </tr>
    </table>

</body>

</html>