<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriSickToolkit</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">

</head>

<body class="mainbody">

    <header class="mainheader">

         <div class="logo">
                  <img src="/static/logoN.png">
            </div>

         <h1>Agri-Aid</h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tutorial">Tutorial</a></li>
                <li><a href="/chooseimage">Upload Image</a></li>
                <li><a href="/news">News Feed</a></li>

            </ul>
        </nav>

    </header>

    <h1>Tutorial</h1>

      <table>

        <tr>
            <td>
                <img src="/static/step1.jpg" alt="Step One" class="step1">
            </td>
            <td>STEP ONE
                <br>
                Ensure you capture a clear image of the affected
                <br>
                area of your plant against a neutral,
                <br>
                preferably white, background.</td>
        </tr>
        <tr>
            <td>
                <img src="/static/step1.5.png" class="step1.5">
            </td>
            <td>STEP TWO
                <br>

                Our system analyzes one image at a time,
                <br>
                so make sure you upload only the best snapshot
                <br>
                that accurately represents the problem.
            </td>
        </tr>
        <tr>
            <td>
                 <img src="/static/step%202.png" class="step2">
            </td>
            <td>STEP THREE
                <br>
                After preparing your photo,
                <br>
                select "Upload Image" to upload
                <br>
                it to our classifier.</td>
        </tr>
    </table>
</body>

</html>